<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text=" 'Spring boot: Thymeleaf + Data JPA-' + ${titulo}"></title>
    <link rel="stylesheet"
         th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<header th:fragment="header">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about"
                                        th:href="@{/listar}">Cliente</a></li>
            </ul>
        </div>
    </nav>
    <!--Abgregando mensajes-->
    <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
    <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

</header>

<div class="container"></div>

<footer th:fragment="footer" class="container">
    <img th:src="@{/images/spring.png}" alt="Spring logo" />

    <p>
        Proyecto desarrollado en el curso de Spring 5 de Udemy. <br /> &copy; Company 2018, Inc. Todos los derechos reservados.
        Términos de uso y privacidad. <br />
    </p>

    <script th:src="@{/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>

</body>
</html>