<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <img th:if="${#strings.length(cliente.foto) >0 }" class="img-thumbnail rounded float-left" style="max-width: 25%;"
                 th:src="@{/'uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}"/>
            <ul class="list-group">
                <li class="list-group-item" th:text="${cliente.nombre}"></li>
                <li class="list-group-item" th:text="${cliente.apellido}"></li>
                <li class="list-group-item" th:text="${cliente.email}"></li>
                <li class="list-group-item" th:text="${cliente.createAt}"></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>